<html lang="pt-br">
  <head>
    <title> Time Tracking </title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    
    <script src="JS/index.js"></script>
    
    <link rel="stylesheet" href="CSS/style.css">
  </head>

  <body ng-app="myTimeTracking"
        ng-controller="MainCtr">
    <div class="container">
      <p>Name: <input type="text" ng-model="name"></p>
      <p ng-bind="hello"></p>
      <p ng-bind="name"></p>
      {{hello}}
    </div>
    <div class="container">
      <p>Name: <input type="text" ng-model="name"></p>
      <p ng-bind="hello"></p>
      <p ng-bind="name"></p>
      {{hello}}
    </div>
  </body>
</html>
