<html lang="pt-br">

<head>
  <title> Time Tracking </title>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="Externals/JS/angular-cookies.min.js"></script>
  <script src="Externals/JS/ngDialog.js"></script>
  <link href="Externals/CSS/ngDialog.css" rel="stylesheet">
  <link href="Externals/CSS/ngDialog-custom-width.css" rel="stylesheet">
  <link href="Externals/CSS/ngDialog-theme-default.css" rel="stylesheet">
  <link href="Externals/CSS/ngDialog-theme-plain.css" rel="stylesheet">
  <!--script src="Externals/JS/cookiesWriter.js"></script-->

  <script src="JS/index.js"></script>

  <link rel="stylesheet" href="CSS/style.css">
</head>

<body ng-app="myTimeTracking" ng-controller="MainCtr">
  <div class="container-div">
    <main class="container">
      <div class="div-header">
        <input type="text" id="input-sessao" placeholder="Sessão" ng-model="cadastro.headers.sessId">
        <button ng-click="validarSessao()">Validar sesão</button>
      </div>
    </main>
    <main class="container">
      <div class="header-card orange">
        <div class="hundred-percent">
          <div class="float-left">
            <h2>Registros pedentes</h2>
          </div>
        </div>
        <div class="hundred-percent">
          <div class="float-right">
            <i class="material-icons icon-left-white" ng-click="removerAllPendentes()" title="Remover todos os itens pendentes">delete_forever</i>
            <i class="material-icons icon-left-white" ng-click="registrarTodos()" title="Registrar todos">send</i>
            <i class="material-icons icon-left-white" ng-click="salvarTodos()" ng-show="cadastro.existeEditando" title="Salvar todos">check</i>
            <i class="material-icons icon-left-white" ng-click="addItemPendente()" title="Adicionar item pendente">add</i>
          </div>
        </div>
      </div>

      <table ng-if="cadastro.itensPendentes.length">
        <thead>
          <tr>
            <th></th>
            <th>Tempo</th>
            <th>Protocolo</th>
            <th>Tarefa</th>
            <th>Descrição</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat=" item in cadastro.itensPendentes" ng-keypress="keyPress($event, $index)" ng-dblclick="editarItemPendente($index)">
            <td>
              <i class="material-icons" ng-show="!item.selecionado" ng-click="iniciarContagem($index)">play_arrow</i>
              <i class="material-icons" ng-show="item.selecionado" ng-click="pausarContador()">pause</i>
            </td>
            <td>
              <input type="text" ng-model="item.tempoFormatado" ng-disabled="true" ng-hide="item.editandoTempo">
              <input type="text" ng-model="item.tempoFormatadoAuxiliar" ng-show="item.editandoTempo">
            </td>
            <td><input type="text" ng-model="item.prot_codigo" ng-disabled="!item.editando"></td>
            <td><input type="text" ng-model="item.trf_codigo" ng-disabled="!item.editando"></td>
            <td><input type="text" ng-model="item.trf_descricao" ng-disabled="!item.editando"></td>
            <td>
              <i class="material-icons" ng-show="!item.editando" ng-click="editarItemPendente($index)" title="Editar item pendente">mode_edit</i>
              <i class="material-icons" ng-show="item.editando" ng-click="salvarItem($index)" title="Salvar item pendente">check</i>
              <i class="material-icons" ng-click="removerItemPendente($index)" title="Remover item pendente">delete</i>
              <i class="material-icons" ng-click="editarTempoItemPendente($index)" title="Alterar tempo" ng-hide="item.editandoTempo">timer_off</i>
              <i class="material-icons" ng-click="salvarTempoEditado($index)" title="Alterar tempo" ng-show="item.editandoTempo">timer</i>
              <i class="material-icons" ng-click="abrirDialogTrocaTempo($index)" title="Atribuir tempo em outro item">compare_arrows</i>
              <i class="material-icons" title="Enviar para registrados" ng-click="enviarPendenteParaRegistrado($index)">send</i>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="detail ">Total pendente de registro: {{cadastro.totalPendentes.tempoFormatado}}</p>
    </main>
    <main class="container">
      <div class="header-card blue">
        <div class="hundred-percent">
          <div class="float-left">
            <h2>Registros enviados</h2>
          </div>
        </div>
        <div class="hundred-percent">
          <div class="float-right">
            <i class="material-icons icon-left-white" ng-click="removerAllRegistrados()" title="Remover todos os itens registrados">delete_forever</i>
          </div>
        </div>
      </div>

      <table ng-if="cadastro.itensRegistrados.length">
        <thead>
          <tr>
            <th>Tempo</th>
            <th>Protocolo</th>
            <th>Tarefa</th>
            <th>Descrição</th>
            <th ng-if="false"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat=" item in cadastro.itensRegistrados">
            <td><input type="text" ng-keydown="keyUp($event)" ng-model="item.tempoFormatado" ng-disabled="true"></td>
            <td><input type="text" ng-press="keyUp($event)" ng-model="item.prot_codigo" ng-disabled="!item.editando"></td>
            <td><input type="text" ng-keyup="keyUp($event)" ng-model="item.trf_codigo" ng-disabled="!item.editando"></td>
            <td><input type="text" ng-keydown="keyUp($event)" ng-model="item.trf_descricao" ng-disabled="!item.editando"></td>
            <td ng-if="false">
              <i class="material-icons" ng-show="!item.editando" ng-click="editarItemRegistrado($index)" title="Editar item registrado">mode_edit</i>
              <i class="material-icons" ng-show="item.editando" ng-click="salvarItem($index)" title="Salvar item registradov">check</i>
              <i class="material-icons" ng-click="removerItemPendente($index)" title="Remover item registrado">delete</i>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="detail ">Total de registros enviados: {{cadastro.totalEnviado.tempoFormatado}}</p>
    </main>
    <main class="container ">
      <table>
        <tbody>
          <tr>
            <th class="detail ">Total: {{cadastro.totalRegistrado.tempoFormatado}}</th>
            <th class="detail ">Faltante para 8 horas: {{cadastro.faltanteParaHoras.tempoFormatado}}</th>
          </tr>
        </tbody>
      </table>
    </main>
  </div>
</body>

</html>