<p>Tempo disponível para transferir: {{cadastro.itensPendentes[indexOrigem].tempoFormatado}}</p>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Tempo</th>
      <th>Protocolo</th>
      <th>Tarefa</th>
      <th>Descrição</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in cadastro.itensPendentes" ng-if="$index !== indexOrigem">
      <td></td>
      <td>{{item.tempoFormatado}}</td>
      <td>{{item.prot_codigo}}</td>
      <td>{{item.trf_codigo}}</td>
      <td>{{item.anot_descricao}}</td>
    </tr>
  </tbody>
</table>