<div ng-if="cadastro.itensPendentes && cadastro.itensPendentes.length > 1">
  <p>Tempo disponível para transferir: {{cadastro.itensPendentes[indexOrigem].tempoFormatado}}</p>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Tempo</th>
        <th>Protocolo</th>
        <th>Tarefa</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in cadastro.itensPendentes" ng-if="$index !== indexOrigem">
        <td></td>
        <td>{{item.tempoFormatado}}</td>
        <td>{{item.prot_codigo}}</td>
        <td>{{item.trf_codigo}}</td>
        <td>{{item.anot_descricao}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <input type="checkbox" id="checkTransferirTudo" ng-model="transferencia.transferirTudo" ng-true-value="true" ng-false-value="false">
    <label for="checkTransferirTudo">Transferir todo o tempo</label><br/>
    <input ng-hide="transferencia.transferirTudo" type="text" ng-model="transferencia.tempoATransferir" />

    <table>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><button class="" ng-click="realizarTransferenciaDeTempo()"> Transferir </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>